html {
    margin:0px;
    background-color:#23272a;
    font-family:"Lucida Console", Monaco, monospace;
}

body {
    position:relative;
    bottom:20px;
}

* {
    color:white;
}


/* Scrollbars */
*::-webkit-scrollbar {
    width:8px;
}

*::-webkit-scrollbar-track {
    background:#23272a;
}

*::-webkit-scrollbar-thumb {
    background-color:#9e9e9e;
    border-radius:20px;
    border:1px solid #bebebe;
}

*::-webkit-scrollbar-corner {
    background-color:none;
}




/* Nav bar */
#nav {
    width:50px;
    height:100%;
    position:fixed;
    z-index:15;
    left:0;
    padding-left:10px;
    padding-right:10px;
    background-color:#23272a;
    box-shadow:0 15px 30px rgba(0,0,0,0.4);
    transition:0.5s;
}

#nav a {
    width:50px;
    display:flex;
    margin-bottom:11px;
    text-decoration:none;
    border-radius:6px;
    cursor:pointer;
    transition:0.5s;
}

#nav a:hover {
    position:relative;
    bottom:2px;
    box-shadow:0px 15px 15px rgba(0,0,0,0.5);
    transition:0.5s;
}

#nav a:active {
    position:relative;
    top:2px;
    box-shadow:0 0px 0px rgba(0,0,0,0.2);
    transition:0.1s;
}

#nav a img {
    width:51px;
    height:51px;
}

#nav a p {
    display:none;
    padding:-1px;
    width:100px;
    margin-left:20px;
}

#nav a .displayed {
    display:block;
    animation-name:fade_in;
    animation-duration:1.5s;
}

@keyframes fade_in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


#nav a .hidden {
    display:none;
    opacity:0;
    animation-name:fade_out;
    animation-duration:1.5s;
}


@keyframes fade_out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


#nav #navMenuIcon {
    margin-top:10px;
}

#nav .navItems {
    position:absolute;
    top:37%;
}



/* Main Container */
body .mainContainer {
    width:70%;
    margin:0 auto;
    margin-bottom:10px;
    left:2%;
    text-align:center;
    position:relative;
    z-index:0;
    transition-duration:0.5s;
}

body .mainContainer h1 {
    font-size:36px;
    padding-top:35px;
}



/* Index */
.mainContainer #flows {
    display:flex;
}

.mainContainer #flows div {
    font-size:32px;
    width:50%;
    margin-top:50px;
}

.mainContainer #flows div p {
    font-size:46px;
}

#botsContainer {
    width:100%;
    margin-top:50px;
    font-size:20px;
}

#botsContainer h4 {
    margin-bottom:8px;
}

#botsTable {
    width:100%;
    border-collapse:collapse;
}

#botsTable th, td {
    width:50%;
}



/* Alerts */
.alertsContainer {
    margin-bottom:10px;
    overflow-y:auto;
}

.alert {
    width:100%;
    height:30px;
    margin-bottom:10px;
    background-color:#0e0e0e8f;
    box-shadow:0 15px 30px rgba(0,0,0,0.4);
    border:solid 1px red;
    transition-duration:0.3s;
}

.alert .collapse {
    width:100%;
    color:black;
    background-color:#e41313;
    font-size:24px;
    padding-left:1em;
    cursor:pointer;
    border:solid 0px;
}

.alert .collapse:focus {
    outline:none;
}

.alert .collapse:hover {
    font-weight:bold;
}

.alert .collapse img {
    float:right;
    rotateX:180deg;
    transition:0.5s;
}

.alert > p {
    display:none;
    height:12px;
    word-wrap:wrap;
    animation-name:fade_in;
    animation-duration:1.5s;
}



/* ACtivity Graph */
#activity_graph {
    height:20%;
    margin-top:5%;
}

.slider {
    -webkit-appearance:none;
    height:5px;
    border-radius:10px;
    background:white;
    outline:none;
    opacity:0.75;
    box-shadow:0 0px 10px rgba(0,0,0,1);
}

.slider:hover {
    opacity:1;
    transition-duration:0.3s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border:solid 0.5px black;
    border-radius:10px;
    cursor:pointer;
}



/* Network Flow Log */
#flowLogTable {
    display:inline-block;
    white-space:nowrap;
    width:100%;
    height:600px;
    margin-top:3%;
    overflow-x:visible;
    overflow-y:auto;
    border-collapse:collapse;
}

#flowLogTable table, th, td {
    border:1px solid gray;
    padding-left:4px;
    padding-right:4px;
}